//COLORS
$dark: #373942;
$red: #FB3640;
$darker-grey: #5E6267;
$grey: #c4c4c4;
$lighter-grey: #f1f2f3;
$orange: #FF9521;
$green: #55D582;
$purple: #8255D5;
$blue: #218BFF;

//VALUES
$base-offset: 16px;
$icon-size: 24px;