//COLORS
$dark: #373942;
$red: #FB3640;
$darker-grey: #5E6267;
$grey: #c4c4c4;
$lighter-grey: #f1f2f3;
$orange: #FF9521;
$green: #55D582;
$purple: #8255D5;
$blue: #218BFF;

//VALUES
$base-offset: 16px;
$icon-size: 24px;

//FONT
@font-face {
  font-family: Rubik-Medium;
  src: url(fonts/rubik/Rubik-Medium.ttf)
}

@font-face {
  font-family: Rubik-Regular;
  src: url(fonts/rubik/Rubik-Regular.ttf)
}

@font-face {
  font-family: Roboto-Medium;
  src: url(fonts/roboto/Roboto-Medium.ttf)
}

@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/roboto/Roboto-Regular.ttf)
}